<div id="show-run">
  <h1>{{runName}}</h1>
  <h4>{{date}}</h4>
  <ul>
    <li>Distance: {{distance}} miles</li>
    <li>Total Time: {{time}}</li>
    <li>Pace: {{pace}} per mile</li>
    <li>RPE: {{rpe}}</li>
    <li>Description: {{description}}</li>
  </ul>

  <div id="edit-button">
    <a href="/{{username}}/edit-run/{{id}}"><button>EDIT RUN</button></a>
  </div>
</div>
